.cuerpo{
    padding-left:10%;
    padding-right:10%;
}

.niveles{
        margin-left: 00px;
}

.linea{
        margin-bottom: 10px;
        margin-top: 10px;
}
.linea2{
        margin-bottom: 10px;
        margin-top: 30px;
        box-shadow: #2b2b2b;

}
.span{
    color: #555555;
    font-size: 12px;

}